.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
dat/*
dat/dat.rda
data/dat.rda
data/example_raw_data.csv
vault/*
data_share/*
*.csv
R/setup_geo_data.R
vignettes/workflow.Rmd
/scrap/*
*.kml

*.rds
*_report.Rmd
*.html
*workflow2.rmd


*.xlsx
data/sample_hh_data.xlsx
data/metadata.R
^data/eth
data/*
map_templates/map_outputs/*
R/decouple_coordinates.R
local_jobs/*
workflow_tutorial_files/*
col_target_rs_report_files/*
